doctype html
html
  head
    title= title
    
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet",href="http://mdcc.csdn.net/themes/zone/mdcc_2015/css/font-awesome.min.css")
    link(rel='stylesheet', href='/css/index.css')
    script(src="/javascripts/jquery-1.11.3.js")
    script(src="/javascripts/bootstrap.js")
  body
    include module/header1
    block content
    include module/footer
